/* src/Styles/Dashboard.css */
.dashboard-layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
    /* Adicionado relative para contenção de elementos filhos absolute/fixed caso precise */
    position: relative;
}

.dashboard-content {
    flex: 1;
    overflow-y: auto;
    padding: 2rem;
    background-color: var(--background-color);
}

/* MEDIA QUERIES PARA RESPONSIVIDADE (Telas menores que 768px - Tablet/Mobile) */
@media screen and (max-width: 768px) {
    .dashboard-layout {
        flex-direction: column; /* Coloca o Mobile Header em cima e o Main Content em baixo */
    }

    .dashboard-content {
        padding: 1rem; /* Menos respiro nas bordas para aproveitar tela de celular */
    }
}